

nav {
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
}

.nav-logo {
    width: 100px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-hamburger {
    width: 100px;
    height: 90px;
    margin-right: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-hamburger img {
    width: 22px;
    height: 20px;
}

.mainCarImg {
    background-size: cover;
    margin-top: 90px;
    height: 235px;
    width: 100%;
}

.mainCarInfo {
    width: 100%;
    height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainCarDetails {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.carModels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 290px;
}

.carModels img {
    width: 265px;
    height: 135px;
    margin-top: 20px;
}